
{% extends 'base.html.twig' %}
{% block title %}Calendario de Empleados{% endblock %}

{% block body %}
    <div id="calendar-app" data-events='{{ events|json_encode }}'>
        <div class="calendar-header">
            <h1>Calendario del Empleado:  {{ employee.name }} {{ employee.lastname }} </h1>
            <a href="{{ path('app_home') }}" class="btn btn-primary">Volver a la lista de empleados</a>
            <button class="btn btn-primary" @click="saveCalendar({{employee.id}})">Guardar Eventos</button>
        </div>

        <div id='calendar'></div>
        
        <script id="calendar-data" type="application/json">
            {{- { employee: employee, events: events }|json_encode|raw -}}
        </script>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/vue/domains/calendar.js"></script>
    {{ parent() }}
    
    <script>
        const data = JSON.parse(document.getElementById('calendar-data').textContent);
        console.log('Events from template:', data);
        vueApp('calendar-app', 
            calendarAppConfig({ 
                save: '{{ path('calendar_employee_save', {'employeeId': employee.id}) }}',
            }, data),
        );
    </script>
{% endblock %}